ul.header-social-icon li a{
	background:#1a0000;
}
.main-menu-nav ul.menu-nav li:hover a{
    color:#ccc;
}
.main-menu-nav ul.menu-nav li:hover ul.dropdown-menu-items li a:hover{
    color:#ccc;
}
.main-menu-nav ul.menu-nav li .dropdown-mega .mega-single a:hover{
    color:#ccc;
}
.main-header-area:before{
	background:#1a0000;
}
.preview-2 .nivo-directionNav a.nivo-prevNav::before, .preview-2 .nivo-directionNav a.nivo-nextNav::before{
	background:#1a0000;
}
.button-default{
	background:#1a0000;
}
.hdream-feature-single .hdream-icon.hdream-Rent, .hdream-feature-single .hdream-icon.hdream-property, .hdream-feature-single .hdream-icon.hdream-Buy, .hdream-feature-single .hdream-icon.hdream-Sale, .about-support-items .hdream-icon.hdream-reliable, .about-support-items .hdream-icon.hdream-support, .about-support-items .hdream-icon.hdream-find, .about-support-items .hdream-icon.hdream-place, .about-support-items .hdream-icon.hdream-luxury, .about-support-items .hdream-icon.hdream-cost{
	color:#1a0000;
}
.main-menu-nav ul.menu-nav li  .dropdown-mega{
	background:#1a0000;
}
.main-menu-nav ul.menu-nav li  ul.dropdown-menu-items{
	background:#1a0000;
}
.sqft-area input[type="text"]{
	border-bottom: 1px solid #1a0000;
}
.chosen-container-single .chosen-single, .chosen-container-multi .chosen-choices{
	border-bottom: 1px solid #1a0000;
}
.search-apartment a{
	background:#1a0000;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all{
	border: 1px solid #1a0000;
}
.ui-slider .ui-slider-range{
	background:#1a0000;
}
.hdream-about-wrapper .play-pro:after{
	background:#1a0000;
}
.special-features-details a{
	background:#1a0000;
}
.property-menu button{
	background:#1a0000;
}
.property-details-inner a{
	background:#1a0000;
}
.hdream-agent-info:before{
	background:#1a0000;
}
.hdream-agent-info:after{
	border-left: 130px solid #1a0000;
}
.hdream-agent-info:after{
	    border-right: 133px solid #1a0000;
}
.single-blog-image .date-blog{
	background:#1a0000;
}
.hdream-footer-area{
	background:#1a0000;
}
.contact-form-quick input[type="email"], .contact-form-quick .message2{
	background:#1a0000;
}
.ec-handle {
  background-color: #1a0000;
  border: 1px solid #1a0000;
}
.footer-logo p{
	color:#fff;
}
ul.get-in-touch li{
	color:#fff;
}
ul.footer-social-icon li a{
	color:#fff;
}
ul.naviagation-list-right li a::before {
	background: #1a0000;
}
ul.naviagation-list-right li .dropdown-singlemenu-right, ul.naviagation-list-right li .dropdown-singlemenu-left{
	background: #1a0000;
}
ul.naviagation-list-right li .dropdown-right-menu, ul.naviagation-list-right li .dropdown-left-menu{
	background: #1a0000;
}
.sign-up-button a.sign-up-a{
	background: #1a0000;
	color:#fff;
}
.blog-search-bx a{
	background: #1a0000;
}
.comment-replay{
	color:#1a0000;
}
.coment-area input[type="submit"]{
	background: #1a0000;
}
.blog-date{
	background: #1a0000;
}
.profile-menu ul.profile-nav li .active{
	border-right: 4px solid #1a0000;
}
.contact-form-nt a{
	background: #1a0000;
}
.signup-profile button[type="submit"], .create-agency-bt button[type="submit"]{
	background: #1a0000;
}
ul.package-menu li a{
	background: #1a0000;
}
.package-single .package-tl{
	color:#1a0000;
}
ul.package-menu li .check-icon, ul.package-menu li .time-icon{
	color:#1a0000;
}
.invoice-wrap a{
	background: #1a0000;
}
.wish-time a{
	background: #1a0000;
}
.sale-round h2:after, .buy-round h2:after, .rent-round h2:after, .property-round h2:after{
	background:#1a0000;
}
.content-error .counter{
	color:#1a0000;
}
.content-error a{
	background: #1a0000;
}
.custom-breadcrumb ol.breadcrumb li a{
	color:#1a0000;
}
.sign-up-head span{
	color:#1a0000;
}
.modal-bar button{
	background-color: #1a0000;
    border-color: #1a0000;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #1a0000;
    border-color: #1a0000;	
}
.mobile-menu-area{
	background:#1a0000;
}
.fotter-bottom-area{
	background:#1a0000;
}